@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav {
    font-family: 'Ubuntu',sans-serif;
    font-style: italic;
    padding-right: 20px;
    font-style: italic;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 60px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.brand img{
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    padding-left: 1px;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    display: flex;
    width:70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('logo3.jpeg');
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 50px;
}
.songList h1{
    color: black;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: black;
    width: 120%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px 0;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
    
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in ;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
  .devName{
    padding-top: 6cm;
    color: black;
    font-family: cursive;
  }

.newArtist{
    font-variant-emoji: music;
    padding-bottom: 5cm;
    color: black;
}